/* Navigation desktop */
@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}

/* Tablet */
@media (min-width: 768px) {
    #attractions-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #attractions-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Hover ONLY desktop */
@media (min-width: 1024px) {
    .card img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}